.bundle
.Gemfile.lock
db/*.sqlite3
log/*.log
tmp/**/*
/public/uploads
/db/sphinx
log/*
db/sphinx/development/*

vendor/cache
vendor/cache/*

config/database.yml
config/capistrano/templates/database.production.yml