:javascript
  $(document).ready(function() {
    $("#markItUpAnnotation").markItUp(mySettings);
    $("#markItUpAnnotation").css('height', '100px');
    $("#markItUp").markItUp(mySettings);
    $("#markItUp").css('height', '400px');
  })
