.main_menu{
  border:0px solid red;
}
.main_menu li{
  overflow:hidden;
  zoom:1;
}
.main_menu li a{
  display:block;
  float:left;
  width:160px;
  height:160px;
  border:3px solid #DDD;
  margin-right:20px;
  margin-bottom:20px;
  text-align:center;
  text-decoration:none;
}
.main_menu li a:hover{
  border:3px solid #008;
  color:#008;
  text-decoration:none;
}
.main_menu li a span{font-size:12pt;}
.main_menu li a.news{background:transparent url(/images/profile_incons/news.jpg) no-repeat scroll center center;}
.main_menu li a.news:hover{background-image:url(/images/profile_incons/_news.jpg);}

.main_menu li a.pages{background:transparent url(/images/profile_incons/pages.jpg) no-repeat scroll center center;}
.main_menu li a.pages:hover{background-image:url(/images/profile_incons/_pages.jpg);}

.main_menu li a.files{background:transparent url(/images/profile_incons/files.jpg) no-repeat scroll center center;}
.main_menu li a.files:hover{background-image:url(/images/profile_incons/_files.jpg);}

.main_menu li a.forum{background:transparent url(/images/profile_incons/forum.gif) no-repeat scroll center center;}
.main_menu li a.forum:hover{background-image:url(/images/profile_incons/_forum.gif);}

.main_menu li a.documents{background:transparent url(/images/profile_incons/documents.gif) no-repeat scroll center center;}
.main_menu li a.documents:hover{background-image:url(/images/profile_incons/_documents.gif);}

.main_menu li a.methods{background:transparent url(/images/profile_incons/methods.gif) no-repeat scroll center center;}
.main_menu li a.methods:hover{background-image:url(/images/profile_incons/_methods.gif);}

.main_menu li a.updates{background:transparent url(/images/profile_incons/updates.gif) no-repeat scroll center center;}
.main_menu li a.updates:hover{background-image:url(/images/profile_incons/_updates.gif);}

.main_menu li a.versitcard{background:transparent url(/images/profile_incons/versitcard.gif) no-repeat scroll center center;}
.main_menu li a.versitcard:hover{background-image:url(/images/profile_incons/_versitcard.gif);}

.main_menu li a.albums{background:transparent url(/images/profile_incons/albums.gif) no-repeat scroll center center;}
.main_menu li a.albums:hover{background-image:url(/images/profile_incons/_albums.gif);}

.main_menu li a.questions{background:transparent url(/images/profile_incons/questions.jpg) no-repeat scroll center center;}
.main_menu li a.questions:hover{background-image:url(/images/profile_incons/_questions.jpg);}

.main_menu li a.settings{background:transparent url(/images/profile_incons/settings.jpg) no-repeat scroll center center;}
.main_menu li a.settings:hover{background-image:url(/images/profile_incons/_settings.jpg);}

.main_menu li a.roles{background:transparent url(/images/profile_incons/roles.jpg) no-repeat scroll center center;}
.main_menu li a.roles:hover{background-image:url(/images/profile_incons/_roles.jpg);}

.main_menu li a.mail{background:transparent url(/images/profile_incons/mail.jpg) no-repeat scroll center center;}
.main_menu li a.mail:hover{background-image:url(/images/profile_incons/_mail.jpg);}
