:javascript
  function show_edit_form(){
    $('#edit_form').show();
    $('#delete_button').show();
    $('#preview').hide();
  }
  function show_preview(){
    $('#edit_form').hide();
    $('#delete_button').hide();
    $('#preview').show();  
  }

:javascript
  var preview_form_block = '#preview_form_block';
  var preview_form_name = 'preview_form';
  var preview_iframe_name = 'html_preview';  

  var preview_url = '#{preview_url}';
  var preview_form_id = '#'+preview_form_name;
  var preview_iframe_id = '#'+preview_iframe_name;
  var textile_textarea = '#markItUp';
  
  function preview(){
    show_preview();
    $(preview_iframe_id).contents().find('body').html('Loading...');
    source_content = $(textile_textarea).val();

    var f = $('<form />', {
              'id':     preview_form_name,
              'class':  preview_form_name,
              'name':   preview_form_name,
              'method': 'post',
              'target': preview_iframe_name,
              'action': preview_url
    });
    var i = $('<input />', {'name':'utf8', 'value':'✓'}); 
    $(f).append($(i));
    var i = $('<input />', {'name':'authenticity_token', 'value':'#{form_authenticity_token}'}); 
    $(f).append($(i));
    var i = $('<input />', {'name':'content[content]', 'value': source_content });
    $(f).append($(i));
    $(preview_form_block).append($(f));
    $(preview_form_id).submit();
    $(preview_form_id).remove();
  }

#preview{:style=>'display:none;'}
  %p= button_to_function raw(t('pages.view.back_to_edit')), "show_edit_form()", :name=>:edit_mode
  #preview_form_block{:style=>'display:none;'}
    &nbsp;
  %iframe{:id=>:html_preview, :class=>:html_preview, :name=>:html_preview, :style=>'height:400px;width:100%;', :src=>'javascript: return false;'}
    &nbsp;
  %br
  %p= button_to_function raw(t('pages.view.back_to_edit')), "show_edit_form()", :name=>:edit_mode
