/*ROUNDER*/
.rounder{
  height:10px;
  position:relative;
  zoom:1;
  border:0px solid green;
  margin:0 10px;
}
.rounder i, .rounder b{
  position:absolute;
  top:0;
  zoom:1;
  font-size:0;
  width:10px; height:11px;
  text-decoration:none;
  border:0px solid red;
  display:block;
  background-color: transparent;
  background-repeat: no-repeat;
}
.rounder.top i{top:0px; left:-10px; background-position:0 0;}
.rounder.top b{top:0px; right:-10px; background-position: -10px 0;}
.rounder.bottom i{top:0px; left:-10px; background-position: 0 -10px;}
.rounder.bottom b{top:0px; right:-10px; background-position: -10px -10px;}

.content_rounder{
  overflow:hidden;
  zoom:1;
  padding:10px 10px 0 10px; 
}
/*BLACK ROUNDER*/
.black_rounder .content_rounder{
  border-left:1px solid black;
  border-right:1px solid black;
}
.black_rounder .b_rounder.top{border-top:1px solid black;}
.black_rounder .b_rounder.bottom{border-bottom:1px solid black;}
.black_rounder .b_rounder i,
.black_rounder .b_rounder b{
  background-image:url("../../images/modern/corners/line-c.gif");
}
/*GRAY ROUNDER*/
.gray_rounder .content_rounder{
  border-left:1px solid #9f9f9f;
  border-right:1px solid #9f9f9f;
}
.gray_rounder .b_rounder.top{border-top:1px solid #9f9f9f;}
.gray_rounder .b_rounder.bottom{border-bottom:1px solid #9f9f9f;}
.gray_rounder .b_rounder i,
.gray_rounder .b_rounder b{
  background-image:url("../../images/modern/corners/line-b.gif");
}
/*ORANGE ROUNDER*/
.orange_rounder .content_rounder{
  border-left:1px solid #f99147;
  border-right:1px solid #f99147;
}
.orange_rounder .b_rounder.top{border-top:1px solid #f99147;}
.orange_rounder .b_rounder.bottom{border-bottom:1px solid #f99147;}
.orange_rounder .b_rounder i,
.orange_rounder .b_rounder b{
  background-image:url("../../images/modern/corners/line-a.gif");
}
/*BORDERED ROUNDER*/
.b_rounder{
  height:10px;
  position:relative;
  zoom:1;
  border:0px solid green;
  margin:0 10px;
}
.b_rounder i, .b_rounder b{
  position:absolute;
  top:0;
  zoom:1;
  font-size:0;
  width:10px; height:11px;
  text-decoration:none;
  border:0px solid red;
  display:block;
  background-color: transparent;
  background-repeat: no-repeat;
}
.b_rounder.top i{top:-1px; left:-10px; background-position:0 0;}
.b_rounder.top b{top:-1px; right:-10px; background-position: -10px 0;}
.b_rounder.bottom i{top:0px; left:-10px; background-position: 0 -9px;}
.b_rounder.bottom b{top:0px; right:-10px; background-position: -10px -9px;}

/*BLUE HEADER*/
.blue_header .rounder{background:blue;}
.blue_header .rounder i,
.blue_header .rounder b{
  background-image:url("../../images/modern/corners/blue7px.gif");
}
.blue_header h3{background:blue;}
/*GREEN HEADER*/
.green_header .rounder{background:#97b98a;}
.green_header .rounder i,
.green_header .rounder b{
  background-image:url("../../images/modern/corners/green5px.gif");
}
.green_header h3{background:#97b98a;}
/*VIOLET HEADER*/
.violet_header .rounder{background:#6c6c93;}
.violet_header .rounder i,
.violet_header .rounder b{
  background-image:url("../../images/modern/corners/b7px.gif");
}
.violet_header h3{background:#6c6c93;}

/*ROUNDER USAGE*/
  .class_name .rounded_content ul{margin:0 10px;}
  .class_name .rounded_content{border-left:1px solid black; border-right:1px solid black;}
  .class_name .rounder i, .class_name .rounder b{background-image:url("../../images/modern/corners/c10px.gif");}
/*ROUNDER*/

/*ROUNDER USAGE*/
  .class_name .rounded_content .some_container{margin:0 10px;}

  .class_name .rounded_content{border-left:1px solid black; border-right:1px solid black;}
  .class_name .b_rounder i,
  .class_name .b_rounder b{
    background-image:url("../../images/modern/corners/c10px.gif");
  }
  .class_name .b_rounder.top{border-top:1px solid black;}
  .class_name .b_rounder.bottom{border-bottom:1px solid black;}
/*BORDERED ROUNDER*/

