- image= image_tag('iconza/blue/add.png', :class=>:root_create_image) + raw('&nbsp;')
- link= link_to(image + raw(t('storages.new')), new_storage_url(:subdomain=>@user.subdomain))
.root_create_link= link
