- @js_addons=   get_array_from_yaml(@pub.js_addons)
- @css_addons=  get_array_from_yaml(@pub.css_addons)

- content_for :meta do
  -# helpers/meta_helper
  =raw array_to_js_include_tags(@js_addons)
  =raw array_to_css_include_tags(@css_addons)

= render :partial=>'shared/syntax_highlighter_initializer'

.content
  = raw @pub.html_content
