/*NEWS*/
.news_list .content_rounder{padding:0 10px;}
.news_item .image{
  float:left;
  width:75px; height:75px;
  margin:0 10px 10px 0;
  float:left;
  border: 1px solid #AAA;
}
.news_item{margin-bottom:25px;}
.news_item p{margin-bottom:5px;}
.news_item p.info{font-size:9pt;}
.news_item img{vertical-align: middle;}
.news_item h1{font-size:15pt;}
.news_item h1 a{color:ForestGreen;}
