%p.breadcrumbs
  = link_to @user.site_name, root_url(:subdomain=>@user.subdomain)
  &raquo;
  = link_to 'Личный кибинет', cabinet_users_url(:subdomain=>@user.subdomain)
  = link_to_function(image_tag('basic/ext_link.gif'), popup_window(:left=>100, :top=>100), :href=>cabinet_users_url(:subdomain=>@user.subdomain))
  &raquo;
  Управление форумами
