%h4
  Спасибо! Ваши данные приняты.
%p
  В течение ближайших суток модератор сайта проверит ваши данные и,
  если они соответствуют действительности, на указанный электронный ящик:
  %b.nobr
    =@email
  будет отправлено приглашение с данным для входа в систему.
%p
  Что бы хоть как-то скрасить ваше ожидание, Вы можите посмотреть следующие страницы сайта:
%ul
  %li
    =link_to 'О проекте', root_url
  %li
    =link_to 'Главная', root_url
  %li
    =link_to 'Школы', users_url
  %li
    =link_to 'Учителя', users_url
  %li
    =link_to 'Ученики', users_url
  %li
    =link_to 'Пользователи', users_url

