%p.breadcrumbs
  = link_to @user.site_name, root_url(:subdomain=>@user.subdomain)
  &raquo;
  = link_to t('users.cabinet'), cabinet_users_url(:subdomain=>@user.subdomain)
  &raquo;
  %span.nobr
    = link_to t('storages.manage'), manage_storages_url(:subdomain=>@user.subdomain)
    &raquo;
  %b= raw t('storages.new')
