%p.breadcrumbs
  = link_to @user.site_name, root_url(:subdomain=>@user.subdomain)
  &raquo;
  %span.nbsp
    = link_to t('storages.title'), manage_storages_url(:subdomain=>@user.subdomain)
    &raquo;
  %span.nbsp  
    = link_to @storage.title, storage_url(@storage, :subdomain=>@user.subdomain)
